<div class="container">
  <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">


<h1>User info</h1>
<% if @users.errors.any? %>
  <%= @users.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @users.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @users do |f| %>
<div>name</div>
  <%= f.text_field :name %>
  </br>

  <div>Image</div>
  <%= f.file_field :profile_image %>

  <div>Introdution</div>
  <%= f.text_area :introduction %><br>

  <%= f.submit 'Update User', class: "btn btn-secondary" %><br>

 <% end %>
 </div>
 </div>
 </div>