<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'user', user: @user %>

<%= render 'book', book: @book %>

<table>
  <h1>Users</h1>
  <tr>
    <th>image</th>
    <th>name</th>
  </tr>
<% @users.each do |user| %>
  <tr>

<td>写真</td>
<td><%= user.name %></td>
<td><%= link_to "show", user_path(user.id)%></td>
</tr>
<% end %>
</table>