<h1>User info</h1>
<!--写真-->
<table>
  <tr>
    <th>name</th>
    <th><%= @user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= @user.introduction %></th>
  </tr>
</table>

<p><%= link_to "edit", edit_book_path(current_user) %></p>

<h1>New Book</h1>
<%= form_with model: @book do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Opinion</p>
 <%= f.text_area :body %>
<p><%= f.submit 'Create Book' %></p>
<% end %>