<h1>New Book</h1>
<% if book.image.attached? %>
    <%= image_tag book.image, size: "90x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "90x100" %>
  <% end %>
<%= form_with model: book do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Opinion</p>
 <%= f.text_area :body %>
<p><%= f.submit 'Create Book' %></p>
<% end %>