<h1>User info</h1>
<% if @book.image.attached? %>
    <%= image_tag book.image, size: "90x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "90x100" %>
  <% end %>
<table>
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>

</table>

<%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
        <% end %>
