<%= render 'user', user: @user %>

<%= render 'book', book: @book %>

<h1>Book detail</h1>
<table>
    <tr>
        <td>syasinn</td>
        <td><%= link_to @books.title, book_path(@books.id) %></td>
        <td><%= @books.body %></td>
        <td><%= link_to "Edit", edit_book_path(@books.id) %></td>
        <td>

          <%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        </td>
    </tr>

</table>

 <footer>
    <a>CanpyRight Infratop.inc</a>
  </footer>